<div class="container-fluid p-0">
  <div id="presentaion-header-div" class="d-none d-md-block"></div>
  <div id="presentation-header-div-phone" class="d-md-none">
    <div class="card text-center">
      <img class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1586630088/own-your-life/wall_mock_up_1_vsofjo.jpg" alt="Card image cap">
    </div>
  </div>
  <h4 class="text-center mt-5 bold">We've been expecting you</h5>
  <h4 class="text-center bold">SECURE YOUR LIFE CHANGING OPPORTUNITY NOW</h5>
</div>

<div class="container" style="margin-top: 100px;">
	<div class="row">
    <div class="col-md-5">
      <div class="card text-center">
        <img class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1586630095/own-your-life/3535686_1_dyffei.jpg" alt="Card image cap">      
      </div>
      <p class="mt-3">WE'LL CONTACT YOU AND SEND YOU AN INVITE FOR THE FULL PRESENTATION OPPORTUNITY AND COMPLETE REGISTRATION ONLINE.</p>
    </div>
    <div class="col-md-1"></div>
		<div id="presentation-form-div" class="col-md-6 text-dark my-4 mx-auto">
        <%= simple_form_for @presentation do |f| %>
        <div class="row">
          <div class="col-md-6">
            <%= f.input :first_name %>
          </div>
          <div class="col-md-6">
            <%= f.input :last_name %>
          </div>
          <div class="col-md-6">
             <%= f.input :phone %>
          </div>
          <div class="col-md-6">
             <%= f.input :email %>
          </div>
           <div class="col-md-12">
             <%= f.input :facebook_username %>
          </div>
          <div class="col-md-12">
             <%= f.input :address %>
          </div>
          <div class="col-md-12">
             <%= f.input :expectations %>
          </div>
          <%= f.button :submit, "BOOK", id: "send-presentation-button", class: "mx-auto"%>
        </div>                  
          
        <% end %>
    </div>
        
	</div>
</div>
	