<div class="container" style="margin-top:130px;">
	<div class="text-center my-5">
		<p class="contact-links">GOT A QUESTION</p>
		<h2>Contact OYLCAMPAIGN</h2>
		<p>We're here to help and answer any question you might <br> have. We look forward to hearing from you.</p>
	</div>
	
	<div class="row">
		<div class="col-md-6 d-flex align-items-cente">
        	<div>
        		<h4>Frequently Asked Questions.</h4>
        		<p>Please select a topic below related to your inquiry. If you don't find what you need, fill out our contact form.</p>
        		<ul class="list-group">
        			<li class="list-group-item py-5">
                <h6 class="bold contact-links">What If I Don't Get Two People Registered?</h6>
                <p>The own your life campaign has different systems that makes it easier to connect to people withut having to market or convince them, the sytem saves you the time, money,energy and the stress and also using our S.M.O checklist is also a proven system that works if you go through the S.M.O( Standart Methods Of Operations) it is not possible not no succeed.</p>   
              </li>
        			<li class="list-group-item py-5">
                <h5 class="bold contact-links">Does It Involve Money?</h5>
                <p>Yes it involves money, the money you are paying is to purchase products worth a certain amount and product worth more than that initail pay will be given to you consumed the money been for is for a package not a registration fee.</p>
              </li>
        			<li class="list-group-item py-5">
                <h5 class="bold contact-links">Am I Selling Products?</h5>
                <p>You do not sell products, buying and selling is over is in the industry economy, the connected economy you share values from connections and that is how money is made, you use the product for yourself that is the health benefit because you need the products to stay healthy and our common goal is to help our partners achieve financial freedom, time freedom, health freedom.</p>
              </li>
              <li class="list-group-item py-5">
                <h5 class="bold contact-links">How Do I Know I Am Making The Money?</h5>
                <p>Once you are a registered partner, a D.T.C (Distributor Tracking Center) will be created for you to monitor your business which contains your login information (username and password) when you make money you will be able to see it in your D.T.C.</p>
              </li>
        		</ul>
        	</div>
        </div>
        <div class="col-md-1">
		</div>
		<div class="col-md-5 text-dark my-5">
            <%= simple_form_for @message do |f| %>
              <%= f.input :name %>
              <%= f.input :email %>
              <%= f.input :whatsapp_number %>
              <%= f.input :message %>
              <%= f.button :submit, "SEND MESSAGE", id: "send-message-button" %>
            <% end %>
        </div>
        
	</div>
</div>
