
<%= render "layouts/header" %>
<section id="home-page" class="mb-5">
  		<div class="container-fluid my-5">
  			<div class="row" id="home-page-level-one">
	  			<div class="col-md-6" id="home-page-level-one-left">
	  			</div>
          <div class="d-sm-none" id="home-page-level-one-left-small">
          </div>
	  			<div class="col-md-6 align-items-center d-flex text-center text-white" id="home-page-level-one-right">
	  				<div class="p-5 d-none d-md-block">
	  					<h1 class='py-5 bold'>We are own your life</h1>
	  					<p class="my-5">Generating wealth in the industrial economy is becoming more and more impossible. Especially with unreliable government, jobs and time constraints. The GOOD NEWS??? The OWN YOUR LIFE CAMPAIGN is here for you to teach you how to raise money to start a business and chase your dreams online and offline.</p>
	  					<a class="button-bg-red" href="/pages/about">READ MORE</a>
	  				</div>
            <div class="d-md-none py-5">
              <h4 class="bold">We are own your life</h4>
              <p class="my-5">Generating wealth in the industrial economy is becoming more and more impossible. Especially with unreliable government, jobs and time constraints. The GOOD NEWS??? The OWN YOUR LIFE CAMPAIGN is here for you to teach you how to invest and make generational wealth rightly.</p>
              <a class="button-bg-red" href="#">READ MORE</a>
            </div>
	  			</div>
  			</div>
  		</div>

  		<div class="container-fluid text-center my-5" id="home-page-level-three-div">
        <h2 class="py-5 text-center">What makes us <br>awesome and efficient?</h2>
  			<div class="row">
  				<div class="col-md-4">
  					<div class="home-page-level-three-blue-div p-3">
  						<h2 class="text-center"><i class="far fa-flag level-three-icons"></i></h2>
  						<h4 class="bold">A support system</h4>
  					</div>
  					<div>
  						 <p>We are not just an NGO with ideas and plans but we have created over 100 millionaires in the past 4 years in Nigeria. We have put in place a working system builds to support all partners in this campaign against tough economies and time restraints, any other forms of limitations stopping you from reaching your goal.</p>
  					</div>
  				</div>
  				<div class="col-md-4">
  					<div class="home-page-level-three-blue-div p-3">
  						<h2 class="text-center"><i class="fas fa-tv level-three-icons"></i></h2>
  						<h4 class="bold">Trainings</h4>
  					</div>
  					<div>
  						 <p>We have the training, resources, and seminars structured to build you up to become rich and have control over your income. Only you can determine your success not us that's why we are here to provide all you need to be successful.</p>
  					</div>
  				</div>
  				<div class="col-md-4">
  					<div class="home-page-level-three-blue-div p-3">
              <h2 class="text-center"><i class="far fa-user level-three-icons"></i></h2>
  						<h4 class="bold">Life and financial coaches<h4>
  					</div>
  					<div>
  						 <p>All partners in this campaign get life coaches and guidance every day for the rest of their lives. There will be no reason or excuse why you can't reach your financial goals</p>
  					</div>
  				</div>
          <div class="col-md-12 d-flex justify-content-center align-items-center mb-4 pt-4 text-center">
              <a class="button-bg-blue" href="/pages/appointment">BOOK A PRESENTATION</a>
          </div>
  			</div>
  		</div>
      <div class="container my-5 py-2">
        <div class="row text-center">
          <div class="col-md-3"></div>
          <div class="col-md-8">
            <h4>All this if FREE to help you stay active, motivated and connected to be able to realize your goals & set objectives.</h4>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>

  		<div class="p-2" id="home-page-level-four-div">
  			<div class="container">
  				<div class="row text-center text-white">
  					<div class="col-md-8 py-5" id="home-page-level-four-blue-div">
  						<h1 class="d-none d-md-block bold">Why most people are poor?</h1>
              <h3 class="d-md-none bold">Why most people are poor?</h3>
  						<p style="font-size: 1.5em;">
                <ul style="list-style: none;">
                  <li>Job security.</li>
                  <li>Fear of the unknown.</li>
                  <li>Lack of financial education.</li>
                  <li>Physical laziness and mental laziness.</li>
                  <li>Impatience and inability to delay gratification.</li>
                  <li>Seeking for approval and opinion of others.</li>
                  <li>Obsolete mental programming.</li>
                  <li>Relying on formal education and not self education.</li>
                </ul>      
              </p>
  					</div>
  					<div class="col-md-4" id="why-most-people-are-poor-picture">

  					</div>
  				</div>
  			</div>
  		</div>
  		<div class="container-fluid" id="home-page-level-five-div">
  			<div class="row">
          <div class="col-md-2"></div>
  				<div class="col-md-3 d-flex align-items-center justify-content-center">
  					<h1 class="bold">We are own your life</h1>
  				</div>
  				<div class="col-md-2 d-flex justify-content-center">
  					<div style="width: 20%;">
              <img style="width: 200%; position: relative; right: 35px;" class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1585009480/MWUR2_copy_krhdpc.png" alt="Card image cap">             
            </div>
  				</div>
  				<div class="col-md-4 d-flex align-items-center justify-content-center">
  					<h1 class="bold">Make more wealth with time</h1>
  				</div>
  			</div>
  		</div>

  		<div class="container-fluid" id="home-page-level-six-div">
  			<div class="row">
  				<div class="col-md-5">
  					<div class="card text-center">
  						<img class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1584408152/own-your-life/2564_ohjmsr.jpg" alt="Card image cap">
  						
  					</div>
  				</div>
  				
  				<div class="col-md-7 border-bottom d-flex align-items-center home-page-level-six-orange-div">
  					<div class="p-5 d-none d-md-block">
              <h2 class="bold">Who is this<br> Own your life campaign for?</h2>
              <p>This campaign is for you who wants to support yourself and your family, you who wants to finally be debt free.</p>
              <p>It is for you who desires to live more securely and confidently, you seeking more respect and status.</p>
              <p>For you who wants to build generational wealth, it is for you who has big dreams and projects to finish or wants to give your children the best.</p>
              <p>It is for you who wants to live in luxury. This campaign is for you who wants to be rich and bold.</p>
  					</div>
            <div class="d-md-none py-5">
              <h4 class="text-center pb-4 bold">Who is this own your life campaign for?</h4>
              <p>This campaign is for you who wants to support yourself and your family, you who wants to finally be debt free.</p>
              <p>It is for you who desires to live more securely and confidently, you seeking more respect and status.</p>
              <p>For you who wants to build generational wealth, it is for you who has big dreams and projects to finish or wants to give your children the best.</p>
              <p>It is for you who wants to live in luxury. This campaign is for you who wants to be rich and bold.</p>
            </div>
  				</div>
  			</div>
  		</div>

      <div class="container text-center py-5" id="home-page-level-two-div">
        <h1 class="d-none d-sm-block py-5" style="font-size: 2.7em;">We've created over 100 Millionaires in 4 years because of this campaign<br> Thousands are living better lives</h1>
        <h2 class="d-sm-none">We've created over 100 Millionaires in 4 years because of this campaign Thousands are living better lives</h2>
      </div>

      <div class="container">
        <div class="row">
          
          <div class="col-md-6 p-3 home-page-level-six-blue-div d-flex justify-content-center align-items-center">
            <div>
              <h3 class="pb-3 text-center bold">Here are some own your life amazing testimonies</h3>
              <p>We've empowered and given many the right support, and their lives have changed for the better.</p>
              <p class="pb-3">Be a part of this campaign whose mission is to enable people like you create wealth, and push you so you can accomplish your dreams no matter how big they are.</p>
              <a class="button-bg-orange" href="/pages/about#testimoney">TESTIMONIES</a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6 col-6">
                <div class="card text-center">
                  <img class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1585436548/own-your-life/Picture1_gpxiic.jpg" alt="Card image cap">
                </div>
              </div>

              <div class="col-md-6 col-6">
                <div class="card text-center">
                  <img class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1585862081/own-your-life/Picture4_1_iq88ne.jpg" alt="Card image cap">
                </div>
              </div>

              <div class="col-md-6 col-6">
                <div class="card text-center">
                  <img class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1585436547/own-your-life/Picture3_ppdaa7.jpg" alt="Card image cap">
                </div>
              </div>

              <div class="col-md-6 col-6">
                <div class="card text-center">
                  <img class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1585772376/own-your-life/Stopilla-Sunzu-surprises-wife-with-a-wonderful-gift-an-SUV-Merecedes-Benz-GLE-Coupe-1-2_smq3bo.jpg" alt="Card image cap">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="container-fluid my-5">
        <div class="text-center">
          <h2 class="bold">Don't miss out!!!</h2>
          <p class="display-5 pb-3">Get started by booking your first business presentation online<br> via video chat. Know the business!! Know your opportunities!!</p>
          <a style="font-size: 0.7em;" class="button-bg-orange" href="#">BOOK A BUSINESS PRESENTATION</a>
        </div>
      </div>

      <div class="text-center p-5 text-white" id="home-page-level-seven-div">
        <h2>Thanks for visiting</h2>
        <h4>Stay in touch</h4>
      </div>
  		
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div>
              <div class="d-flex">
                <div class="home-page-contact-icon-div">
                  <i class="far fa-envelope home-page-contact-icons"></i>
                </div>
                <div class="pl-5">
                  <h6 style="font-weight: 700">Email</h6>
                  <p>info@oylcampaign.com</p>
                  <p>support@oylcampaign.com</p>
                </div>
              </div>

              <div class="d-flex">
                <div class="home-page-contact-icon-div">
                  <i class="fas fa-mobile-alt home-page-contact-icons"></i>
                </div>
                <div class="special">
                  <h6 style="font-weight: 700">CALL US !</h6>
                  <p>Nigeria: +234 808 435 0129</p>
                  <p>Cameroon: +237 676 463 196</p> 
                </div>
              </div>

              <div class="d-flex">
                <div class="home-page-contact-icon-div">
                  <i class="fas fa-map-marked-alt home-page-contact-icons"></i>
                </div>
                <div class="pl-5">
                  <h6 style="font-weight: 700">ADDRESS</h6>
                  <p>Suite 8 Shallom Plaza, beside Ajuji Hotel, Gudu District, Apo, FCT - Abuja </p>
                  <p>Venue Suite D2 Elim Plaza,Beside Oakland Hotel,along Ebeano Tunnel Road, Enugu</p>
                </div>
              </div>
              <div>
                <p class="bold py-5 pl-2">For more inquiries and to know the office close to you please call us using the numbers above.</p>
              </div>

            </div>
          </div>

          <div class="col-md-6 text-dark">
            <h6 style="font-weight: 700;">SAY HELLO!</h6>
            <%= simple_form_for @message do |f| %>
              <%= f.input :name %>
              <%= f.input :email %>
              <%= f.input :whatsapp_number %>
              <%= f.input :message %>
              <%= f.button :submit, "SEND MESSAGE", id: "send-message-button" %>
            <% end %>
          </div>
        </div>
      </div>
  	</section>