<p id="notice"><%= notice %></p>
<div class="progress h-100">
  <%= content_tag(:div, "#{@completion}%", class: "progress-bar progress-bar-striped h-100 h3", style: "width: #{@completion}%") %>
</div>
  <h1 class="text-primary">how</h1>
<h1>Lessons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Content</th>
      <th>Video link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.name %></td>
        <td><%= lesson.content %></td>
        <td><%= lesson.video_link %></td>
        <td><%= link_to 'Show', lesson %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson', new_lesson_path %>
