<div class="container-fluid" id="login-form-wrapper-div">
  <div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-3">
      <div id="login-form-content">
        <h4 class=" mt-5 mb-5 text-white bold text-center">Log in</h4>
        <div id="login-form-holder" class="mb-5">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.input :email %>
            <%= f.input :password, autocomplete: "current-password" %>
            <% if devise_mapping.rememberable? %>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            <% end %>
            <div>
               <%= f.submit "Log in", id: "signup-button", class: "mt-4" %>
            </div>
             
          <% end %>
          <h6 class="bold my-4">You will have to Signup if you don't have an account.</h6>
          <div style="font-size: 0.8em;">
            <%= render "devise/shared/links" %>
          </div>
          
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
  
