<!DOCTYPE html>
<html>
  <head>
    <title>OwnYourLifeCampaign</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
  <div class="container">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: "delete", class: "nav-link", id: "logout" %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "log in", new_user_session_path, class: "nav-link" %>
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <% end %>
      </ul>
  </div>
</nav>
    <%= render "layouts/flash_messages" %>
    <%= yield %>
  </body>
</html>
